.nameDetail {
	font-family: 'Digital';
	font-size: 1.8rem !important;
}
.textoMva {
	font-family: 'Digital';
	font-size: 1.5rem !important;
}
.textoDetail {
	font-family: 'Digital';
	font-size: 1.4rem !important;
}
