.namePopUp {
	font-family: 'Digital';
	font-size: 1.2rem !important;
	text-shadow: 1px 1px 1px #565656;
}
.textoPopUp {
	font-family: 'Digital';
	font-size: 1.3rem !important;
}
.sing {
	position: absolute;
	left: 1.6rem;
	top: 0;
	bottom: 0.8rem;
	margin: auto;
	height: fit-content;
	padding: 0.25rem;
	background: white;
	border: 1px solid #aaaaaa;
	border-radius: 12px;
	box-shadow: 3px 1px 7px 0px #00000094;
	transition: transform 0.3s ease;
}
.marcador_ubicacion_map {
	width: 1.5rem;
	height: 1.5rem;
	display: block;
	position: relative;
	border-radius: 1.5rem 1.5rem 0;
	transform: rotate(45deg);
	border: 1px solid #ccc0;
}
.interior_marcador_map {
	background: #ffffff;
	width: 1.3rem;
	height: 1.3rem;
	display: block;
	position: relative;
	border-radius: 999px;
	margin: auto;
	margin-right: 5px;
	margin-top: 4px;
	transform: rotate(-45deg);
}

.texto_ubicacion_map {
	color: black !important;
	margin-left: 2px;
	font-size: 14px;
}

.marcador_working {
	width: 0;
	height: 0;
	border-left: 1.25rem solid transparent;
	border-right: 1.25rem solid transparent;
	border-bottom: 2.5rem solid #fff300;
	display: flex;
	justify-content: center;
	align-items: center;
}

.interior_working {
	border-left: 0.9rem solid transparent;
	border-right: 0.9rem solid transparent;
	border-bottom: 1.8rem solid #ffffff;
	top: 0.5rem;
	position: fixed;
}
.layers-control-base .leaflet-control-layers-toggle {
	background-size: cover;
	width: 30px;
	height: 30px;
}

.leaflet-control-layers-toggle .layers-control-overlay {
	background-size: cover;
	width: 30px;
	height: 30px;
}

.leaflet-popup-content-wrapper {
	background-color: #ffffff00 !important;
	box-shadow: 0px 0px 0px transparent !important;
}
.leaflet-popup-close-button {
	display: none !important;
}
.leaflet-popup-content {
	margin: 0px !important;
}
.leaflet-popup-tip {
	display: none !important;
}

.leaflet-tooltip {
	background-color: #ffffff00 !important;
	box-shadow: 0px 0px 0px transparent !important;
	border: 0px !important;
}
.leaflet-tooltip-right:before {
	border-color: #ffffff00 !important;
}
